Source: ros-jazzy-osrf-pycommon
Section: misc
Priority: optional
Maintainer: William Woodall <william@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-osrf-pycommon
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-importlib-metadata, ros-jazzy-ros-workspace
Description: Commonly needed Python modules, used by Python software developed at OSRF.
